
<p id="notice"></p>

<h1 class="text-center">Users</h1>

  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-6 col-md-offset-3">
          <% @users.each do |user| %>
          <div class="thumbnail">
            <div class="caption">
              <p><%= user.name %></p>
              <p>
                <%= link_to 'Show', user, class: 'btn btn-primary' %>
                <% if current_user.id == user.id %>
                  <%= link_to 'Edit', edit_user_path(user), class: 'btn btn-primary'%>
                <% else %>
                <% end %>
              </p>
            </div>
          </div>
          <% end %>
        </div>
      </div>
    </div>
