// Place all the styles related to the Tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



table tr {
  text-align: center;
}
h3 {
  color: #ffb6c1;
}
.notice {
  color: #ffb6c1;
}
.table-responsive{
  margin-top: 20px;
}
.select-drop {
  margin-bottom: 0;
}
.form-group {
  width: 400px;
  display: inline-block;
}
.drop {
  width: 100px;
  display: inline-block;
}
.pagination {
  justify-content: center;
}
.container-fluid {
  margin-top: 100px;
}
